#tab {
    margin-left: 50px;
    margin-right: 20px;
}

.scrollTable { 
    border-collapse: collapse; 
    color: #333; 
    background-color: #F7F6F3; 
    border: 1px solid #333;
}

.scrollTable th, .scrollTable td {
    width: 120px;
}

.scrollTable tbody tr:hover { 
    background-color: #aeaeae; 
}

.scrollTable thead {
    display: block;
    font-weight: bold; 
    background-color: #CCC; 
    cursor: default; 
    width: 500px;
}

.scrollTable tbody {
    display: block;
    height: 250px;
    overflow: scroll;
}

.xlabel {
    fill: #979797;
}
.ylabel {
    fill: #979797;
}

.title {
    font-weight: bold;
}

.star_source {
    font-size: 10px;
    color: #888;
    margin-left: 590px;
    margin-bottom: 20px;
}

.disc_source {
    font-size: 10px;
    color: #888;
    margin-left: 1210px;
    margin-bottom: 20px;
}

.bar:hover {
    stroke: gold;
    stroke-width: 3px;
}

.bar.active {
    stroke: gold;
    stroke-width: 3px;
}

.point:hover {
    stroke: gold;
    stroke-width: 3px;
  }

.selected {
    stroke: gold;
    stroke-width: 3px;
}

.btnClass {
    margin: 4px;
}

.btn {
    border-radius: 12px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    background-color: steelblue;
    color: white;
    border: 2px solid #386890;
    padding: 5px 12px;
}

.btn:hover {
    background-color: #386890;
}

.btn:disabled {
    opacity: 0.6;
    background-color: #333;
    cursor: not-allowed;
    border: 2px solid #333;
}

  /* Tooltip */
.tooltip circle {
    fill: none;
    stroke: steelblue;
  }
  .tooltip text {
    fill: steelblue;
  }

/* .bar:hover {
  fill: steelblue;
} */