#tab {
    margin-left: 50px;
    margin-right: 20px;
}

.scrollTable { 
    border-collapse: collapse; 
    color: #333; 
    background-color: #F7F6F3; 
    border: 1px solid #333;
}

.scrollTable th, .scrollTable td {
    width: 120px;
}

.scrollTable tbody tr:hover { 
    background-color: steelblue; 
}

.scrollTable thead {
    display: block;
    font-weight: bold; 
    background-color: #CCC; 
    cursor: default; 
    width: 500px;
}

.scrollTable tbody {
    display: block;
    height: 250px;
    overflow: scroll;
}

.xlabel {
    fill: #979797;
}
.ylabel {
    fill: #979797;
}

.title {
    font-weight: bold;
}

.source {
    font-size: 10px;
    color: #888;
    margin-left: 600px;
    margin-bottom: 20px;
}

.test {
    margin-left: 500px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
  }
  .tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
  #tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
  }

.bar:hover {
  fill: steelblue;
}